
<div style="width:100%;">
    <table class="centered highlight vehicle-table">
        <thead class="v-headers">
            <tr>
                <th value="make">Make<span class="v-sort-info"><i class="material-icons inline-icon">arrow_drop_down</i></span></th>
                <th value="model">Model<span class="v-sort-info"></span></th>
                <th value="year">Year<span class="v-sort-info"></span></th>
                <th value="size">Size<span class="v-sort-info"></span></th>
                <th value="vin">VIN<span class="v-sort-info"></span></th>
                <th>Review</th>
            </tr>
        </thead>

        <tbody class="v-container">
            <%= render partial: 'vehicles/partials/vehicle_rows', locals: {vehicles: @vehicles} %>
        </tbody>
    </div>
</div>