<!DOCTYPE html>
<html>
  <head>
    <title>DelivChallenge</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo left" href="/">Cars R Us</a>
        <ul id="nav-mobile" class="right">
          <li><a href="/auth/auth0">Login</a></li>
          
        </ul>
        
        
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
